<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,intial-scale=1,maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class ="navbar navbar-dark bg-dark">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Bookers</a>
        </div>
      <% if user_signed_in? %>
        <ul class="nav navber-nav">
          <li class="nav-item pr-3"><%= link_to user_path(current_user.id) do %><i class="fas fa-home "> Home</i></li><% end %>
          <li class="nav-item pr-3"><%= link_to users_path do %><i class="fas fa-users"> Users</i></li><% end %>
          <li class="nav-item pr-3"><%= link_to books_path do %><i class="fas fa-book-open"> Books</i></li><% end %>
          <li class="nav-item pr-3"><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i> logout</i></li><% end %>
        </ul>
      <% else %>
        <ul class="nav navber-nav">
          <li class="nav-item pr-3"><%= link_to root_path do %><i class="fas fa-home"> Home</i></li><% end %>
          <li class="nav-item pr-3"><%= link_to '/home/about' do %><i class="fas fa-link"> About</i></li><% end %>
          <li class="nav-item pr-3"><%= link_to new_user_registration_path do %><i class="fas fa-user-plus"> sign up</i></li><% end %>
          <li class="nav-item pr-3"><%= link_to new_user_session_path do %><i class="fas fa-sign-in-alt"> login</i></li><% end %>
        </ul>
      </nav>
      <% end %>
    </header>

    <main>
      <div class="container mt-3">
        <% flash.each do |message_type, message| %>
         <div class="alert alert-success"><%= content_tag :div, message, class: message_type %></div>
        <% end %>

        <div class="row">
        <%= yield %>
        </div>
        
      </div>
    </main>

    <footer class="container-mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
